{{!-- {{#each cardImgs}}
    <img src="{{ this.imgpath }}" alt="{{ alt }}" class="c-card__img" />
    <br>
    <br><span>{{ this.name }}</span><br>
{{/each}} --}}

<img src="{{ cardImage }}" alt="{{ alt }}" class="c-card__img" />