<{{# buttonTag }}button{{/ buttonTag }}{{# linkTag }}a href="{{ url }}" {{/ linkTag }} class="c-btn {{ styleModifier }}"
    {{# buttonTitle}}title="{{ buttonTitle }}" {{/ buttonTitle}}{{# buttonIsToggle }}
    data-btn-icon-swap="{{ icon.iconPath }}{{ buttonIconSwap }}" {{/ buttonIsToggle }}>

    <div class="c-btn__inner">

        {{#if buttonIcon }}
            <img class="c-btn__icon" src="{{ iconPath }}" alt="">
        {{/ if }}

        {{#if buttonText }}
            {{ buttonText }}
        {{/ if }}

    </div>
    <!--end c-btn__inner-->

</{{# buttonTag }}button{{/ buttonTag }}{{# linkTag }}a{{/ linkTag }}><!-- end c-btn -->