<a href="{{ url }}" class="c-card {{ styleModifier }}">

	<div class="c-card__left">
		{{> molecules-user-name}}
		<h2 class="c-card__title">{{ title }}</h2>
		{{#if description}}<p class="c-card__excerpt">{{ description }}</p>{{/ if }}
		<p class="c-card__time">{{ time }}</p>
	</div><!-- end c-card__body -->

	<div class="c-card__right">
        {{#if cardImage }}
		<div class="c-card__media">
			{{> atoms-card-image src=cardImage }}
		</div>
		{{/ if }}
	</div>

</a><!-- end c-card -->
